{% extends "content_base.html" %}

{% block title %} Dashboard | ASSETMGMT {% endblock %}
    {% block main_content %}

        <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
<div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Dashboard</h4>

                                    <!--<div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li>
                                            <li class="breadcrumb-item active">Pricing</li>
                                        </ol>
                                    </div>-->

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="text-center mb-5">
                                    <h4>Welcome to <code><span class="" style="color:#3C8DBC;">ASSETMGMT</span></code></h4>

                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-3">
                                <a class="card" href="/asset_add">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Total Asset</p>
                                                <h4 class="mb-0">{{total_asset_count}}</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>

                            <div class="col-md-3">
                                <a class="card" href="/assets">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Total License</p>
                                                <h4 class="mb-0">{{total_license_count}}</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>

                            <div class="col-md-3">
                                <a class="card" href="/license_add">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Total Assets in Repairs</p>
                                                <h4 class="mb-0">{{total_asset_in_repair_count}}</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>
                            <div class="col-md-3">
                                <a class="card" href="/licenses">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2"># of License Due Expiry</p>
                                                <h4 class="mb-0">{{number_of_license_due_expiry_count}}</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>


                        </div>



                        <div class="row">

                            <div class="col-md-3">
                                <a class="card" href="/asset_add">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Asset +</p>
                                                <h4 class="mb-0">Add New</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>

                            <div class="col-md-3">
                                <a class="card" href="/assets">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Asset</p>
                                                <h4 class="mb-0">Asset List</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>

                            <div class="col-md-3">
                                <a class="card" href="/license_add">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">License +</p>
                                                <h4 class="mb-0">Add New</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>
                            <div class="col-md-3">
                                <a class="card" href="/licenses">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">License</p>
                                                <h4 class="mb-0">License List</h4>
                                            </div>
                                            <div class="text-primary ms-auto">
                                                <i class="ri-briefcase-4-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>


                        </div>


                    </div>

                </div>
                <!-- End Page-content -->


                {% block footer %}
                {% endblock %}

            </div>

    {% endblock %}