
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Sign in | Asset Management System- Clement</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Clement asset management system" name="description" />
        <meta content="Rudranath" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="static/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="auth-body-bg">
        <div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                            <div class="w-100">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div>
                                            <div class="text-center">
                                                <div>
                                                    <!--BEGIN LOGO-->
                                                    <a href="/login" class="">
                                                        <p style="font-weight:bold;"><span style="color:#3C8DBC;">ASSET</span><span style="color: #000;">MGMT</span></p>
                                                    </a>
                                                    <!--END LOGO-->
                                                </div>
                                                {{error_message|safe}}
                                            </div>

                                            <div class="p-2 mt-5">
                                                <form class="" method="POST">
                    
                                                    <div class="mb-3 auth-form-group-custom mb-4">
                                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                        <label for="name">Username</label>
                                                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                                                    </div>
                            
                                                    <div class="mb-3 auth-form-group-custom mb-4">
                                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                        <label for="password">Password</label>
                                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                                                    </div>


                                                    <div class="mt-4 text-center">
                                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Sign in</button>
                                                    </div>

                                                </form>
                                            </div>

                                            <div class="mt-5 text-center">
                                                <p>© <script>document.write(new Date().getFullYear())</script> Clement.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8"><!--login-bg.jpg-->
                        <div class="authentication-bg">
                            <div class="bg-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- JAVASCRIPT -->
        <script src="static/libs/jquery/jquery.min.js"></script>
        <script src="static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/libs/metismenu/metisMenu.min.js"></script>
        <script src="static/libs/simplebar/simplebar.min.js"></script>
        <script src="static/libs/node-waves/waves.min.js"></script>

        <script src="static/js/app.js"></script>

    </body>
</html>
