{% extends "content_base.html" %}
{% block title %} Add User | ASSETMGMT {% endblock %}
    {% block main_content %}

        <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">ADD USER</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Add User</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->


                        <!-- start error -->
                        <div id="error-message-container" style="display: none;" class="row">
                            <div class="col-12">
                                <p id="error-message"></p>
                            </div>
                        </div>
                        <!-- end error -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                                            <ul class="twitter-bs-wizard-nav">
                                                <li class="nav-item">
                                                    <a href="#basic-info" class="nav-link" data-bs-toggle="tab">
                                                        <span class="step-number"><i class="ri-user-add-fill font-size-24"></i></span>
                                                        <span class="step-title">Add User</span>
                                                    </a>
                                                </li>

                                            </ul>
                                            <!-- end ul -->
                                            <div class="tab-content twitter-bs-wizard-tab-content">
                                                <div class="tab-pane" id="basic-info">
                                                    <h4 class="card-title">Basic Information</h4>

                                                    <form id="add-user-form">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="username">User Name</label>
                                                                    <input id="username" name="username" type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <!-- end col -->
                                                            <div class="col-lg-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="password">Password</label>
                                                                    <input id="password" name="password" type="password" class="form-control">
                                                                </div>
                                                            </div>
                                                            <!-- end col -->
                                                        </div>
                                                        <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label" class="control-label" for="status">Status</label>
                                                                    <select class="form-control select2" name="status" id="status">
                                                                        <option value="1">Active</option>
                                                                        <option value="0">In Active</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label" class="control-label" for="role">Role</label>
                                                                    <select class="form-control select2" name="role" id="role">
                                                                        <option value="1">Admin</option>
                                                                        <option value="0">Staff</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button id="btn-submit-form" type="submit" class="btn btn-primary">
                                                                    Submit
                                                                </button>
                                                            </div>
                                                        </div>


                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            </div>

    {% endblock %}
{% block js %} <script src="/static/js/user.js"></script> {% endblock %}