{% extends 'base.html' %}

{% block title %} {{action_type}} Credentials | backupforce+{% endblock %}

{% block headblock %}


{% endblock %}

{% block content %}
<div class="pagetitle">
  <h1 id="job-action-type" data-action-type="{{action_type}}">Manage Credentials</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('mcredential.credential_list')}}">Home</a></li>
      <li class="breadcrumb-item active">Manage Credentials</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<style>

  .other-info {
    margin-bottom: 15px;
  }
</style>

<section class="section">
    <div class="row">  

      <!--Begin Error-->
      <div id="error-container" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p id="error-content">Error message!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
     <!--End Error-->

      <div class="col-lg-8">


        <div id="credentials-container">


          <!--Credential content here-->
  
        </div>


        <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div style="padding-top: 30px;" class="col-6 other-info">
                  <button type="button" id="btn-add-new-credential" class="btn btn-outline-primary">Add New</button>
                </div>
              </div>
            </div>
        </div>





      

      <!-- End page with stripped rows -->
        <!-- Center aligned spinner -->
        <div class="d-flex justify-content-center">
          <div id="page-spinner" style="display: block;" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      <!-- End Center aligned spinner -->





    <!--BEGIN delete credential modal-->
    <div class="modal fade" id="delete-credential-modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete</h5>
            <button type="button" id="delete-credential-modal-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="delete-body-modal">
            You are sure you want to credential actor (<span id="delete-acctor-name"></span>).
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="confirm-delete" class="btn btn-danger">Confirm delete</button>
          </div>

          <p style="color: red;" id="delete-credential-error-notify"></p>
        </div>
      </div>
    </div><!--END delete credential modal-->





      </div>


    </div>
  </section>



{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/manage-credentials.js')}}"></script>
{% endblock %}